@use "../globals" as *;
@use "common" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 60px;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;

  &__icon {
    width: 39px;
    height: 39px;
    margin: 8px;
    cursor: pointer;
  }
}
