@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Oswald:wght@200;400&display=swap");
body {
  font-family: "Oswald", "Noto Sans JP", sans-serif;
  color: #111111;
  line-height: 1.75;
  background-color: #fcf9f2;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.mb-sm, .concept__title, .menu__img, .menu__title, .shop__title {
  margin-bottom: 16px !important;
}

.mb-lg, .concept, .menu {
  margin-bottom: 80px !important;
}
@media screen and (min-width: 768px) {
  .mb-lg, .concept, .menu {
    margin-bottom: 150px !important;
  }
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg, .shop {
  padding-bottom: 80px !important;
}
@media screen and (min-width: 768px) {
  .pb-lg, .shop {
    padding-bottom: 150px !important;
  }
}

.content-width, .concept, .menu__texts, .shop__inner, .footer__inner {
  width: 90%;
  margin: 0 auto;
  max-width: 1070px;
}

.content-width-max, .menu__img {
  width: 100%;
  margin: 0 auto;
}

.flex, .concept__inner, .shop__inner, .footer__inner, .footer__l {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .flex, .concept__inner, .shop__inner, .footer__inner, .footer__l {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .flex-reverse, .concept__inner {
    flex-direction: row-reverse;
  }
}

.font-sm, .footer__copyright {
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .font-sm, .footer__copyright {
    font-size: 16px;
  }
}

.font-md, .menu__title, .shop__title {
  font-size: 26px;
}

.font-lr, .concept__sub-title {
  font-size: 28px;
}
@media screen and (min-width: 768px) {
  .font-lr, .concept__sub-title {
    font-size: 32px;
  }
}

.font-lg, .concept__title {
  font-size: 64px;
}
@media screen and (min-width: 768px) {
  .font-lg, .concept__title {
    font-size: 74px;
  }
}

.font-title, .main-title {
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  .font-title, .main-title {
    font-size: 36px;
  }
}

.title-letter, .menu__title, .shop__title, .footer__copyright {
  letter-spacing: 0.05em;
}

.main-title {
  font-weight: 200;
  position: relative;
  display: block;
  text-align: center;
  margin-bottom: 100px;
  letter-spacing: 0.05em;
}
.main-title::before {
  content: "";
  position: absolute;
  bottom: -6px;
  display: block;
  width: 70px;
  height: 1px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #11361f;
}

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url(../images/kv-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-items: center;
}
@media screen and (min-width: 768px) {
  .hero {
    background-position: top top;
  }
}
.hero::after {
  content: url(../images/logo.svg);
  position: absolute;
  transform: scale(0.6);
}
@media screen and (min-width: 768px) {
  .hero::after {
    position: absolute;
    top: 3%;
    left: 3%;
    transform: none;
  }
}

.concept {
  margin-top: 50px;
}
.concept__inner {
  justify-content: space-between;
  gap: 2em;
}
.concept__img {
  width: 100%;
}
.concept__img img {
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .concept__img {
    width: 56%;
  }
}
.concept__texts {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .concept__texts {
    width: 40%;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
  }
}
.concept__sub-title {
  color: #11361f;
  line-height: 1.4;
}
.concept__sub-title > span {
  display: block;
}
.concept__title {
  color: #11361f;
  letter-spacing: 0.02em;
  line-height: 1.4;
}

.menu {
  margin-top: 50px;
}
@media screen and (min-width: 768px) {
  .menu {
    width: 90%;
    margin: 50px auto 0 auto;
    max-width: 1070px;
  }
}
.menu__inner {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3em;
}
@media screen and (min-width: 768px) {
  .menu__inner {
    grid-template-columns: repeat(2, 1fr);
  }
}
.menu__img > img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .menu__texts {
    width: 100%;
  }
}
.menu__title {
  display: flex;
  justify-content: space-between;
  font-weight: 200;
}

.separate {
  margin-top: 50px;
  width: 100%;
}
.separate > img {
  width: 100%;
}

.shop {
  background-color: #ffffff;
  padding-top: 50px;
}
.shop__inner {
  gap: 1em;
}
@media screen and (min-width: 768px) {
  .shop__inner {
    gap: 4em;
  }
}
@media screen and (min-width: 768px) {
  .shop__img {
    width: 47%;
  }
}
.shop__texts {
  font-family: "Noto Sans JP", sans-serif;
}
@media screen and (min-width: 768px) {
  .shop__texts {
    width: 40%;
  }
}
.shop__title {
  font-weight: 200;
}
.shop__text {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.shop__text p span {
  display: block;
}

.footer {
  background-color: #fcf9f2;
  color: #11361f;
  margin-top: 50px;
}
.footer__inner {
  align-items: center;
  justify-content: space-between;
  padding: 70px 0;
  gap: 4.6em;
}
.footer__l {
  flex-wrap: nowrap;
  gap: 2em;
}
.footer__logo {
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    width: 48%;
  }
  .footer__logo > img {
    width: 90%;
  }
}
.footer__text {
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .footer__text {
    text-align: start;
  }
}
.footer__ul {
  padding-left: 0;
}
.footer__sns {
  display: flex;
  align-items: center;
  padding-left: 0;
}
.footer__sns-item {
  font-size: 18px;
  margin-right: 20px;
}
.footer__sns-item:last-child {
  margin-right: 0;
}
.footer__copyright {
  background-color: #11361f;
  color: #ffffff;
  font-weight: 200;
  height: 60px;
  display: grid;
  place-items: center;
}/*# sourceMappingURL=style.css.map */